<template>
  <div class="footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <span class="text-white">© 2021 Copyright:</span>
      <a class="text-primary" href="https://mdbootstrap.com/">DevFast.com</a>
    </div>
  </div>
</template

</style>
<style scoped>
.footer {
  background: #201e1e;
}
</style>