<template>
  <div class="header">
    <nav class="navbar navbar-dark sticky-top  flex-md-nowrap p-0 ">
     <img
      src="http://devfast.us/images/devfast-logo.png"
      width="100px"
      height="70px"
      alt=""
      class="ml-5"
    />
    <h3 class="m-auto text-white">Blog Managemente</h3>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <button @click="logout()" class="btn">
    <i class="text-white fa fa-3x fa-sign-out" aria-hidden="true"></i>
    </button>
    </nav>
  </div>
</template>
<style scoped>
  .header {
    background: #201E1E;
  }
  logout {
    background-color: #fff;
    color: #fff;
  }
</style>

<script>

export default ({
  methods: {
    async logout() {
      await this.$auth.logout();
      this.$router.push("login");
    },
  }
 
})
</script>
