<template>
  <div class="menu">
    <div class="list-group text-center rounded-0 ml-3 mt-2">
      <div class="icon-list d-flex align-items-center ml-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          style="width:20px,height:20px"
        >
          <path
            fill-rule="evenodd"
            d="M4 7a1 1 0 100-2 1 1 0 000 2zm4.75-1.5a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H8.75zm0 6a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H8.75zm0 6a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H8.75zM5 12a1 1 0 11-2 0 1 1 0 012 0zm-1 7a1 1 0 100-2 1 1 0 000 2z"
          ></path>
        </svg>
        <NuxtLink to="/blog/list" class="list-group-item">List</NuxtLink>
      </div>
      <div class="icon-new d-flex align-items-center ml-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path
            d="M12.5 6.75a.75.75 0 00-1.5 0V9H8.75a.75.75 0 000 1.5H11v2.25a.75.75 0 001.5 0V10.5h2.25a.75.75 0 000-1.5H12.5V6.75zM8.75 16a.75.75 0 000 1.5h6a.75.75 0 000-1.5h-6z"
          ></path>
          <path
            fill-rule="evenodd"
            d="M5 1a2 2 0 00-2 2v18a2 2 0 002 2h14a2 2 0 002-2V7.018a2 2 0 00-.586-1.414l-4.018-4.018A2 2 0 0014.982 1H5zm-.5 2a.5.5 0 01.5-.5h9.982a.5.5 0 01.354.146l4.018 4.018a.5.5 0 01.146.354V21a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V3z"
          ></path>
        </svg>
        <NuxtLink to="/blog/new" class="list-group-item">New</NuxtLink>
      </div>
      <div class="icon-search d-flex align-items-center ml-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          style="width:20px,height:20px"
        >
          <path
            fill-rule="evenodd"
            d="M14.53 15.59a8.25 8.25 0 111.06-1.06l5.69 5.69a.75.75 0 11-1.06 1.06l-5.69-5.69zM2.5 9.25a6.75 6.75 0 1111.74 4.547.746.746 0 00-.443.442A6.75 6.75 0 012.5 9.25z"
          ></path>
        </svg>
        <NuxtLink to="/blog/search" class="list-group-item">Search</NuxtLink>
      </div>
      <div class="icon-search d-flex align-items-center ml-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          style="width:20px,height:20px"
        >
          <path
            fill-rule="evenodd"
            d="M14.53 15.59a8.25 8.25 0 111.06-1.06l5.69 5.69a.75.75 0 11-1.06 1.06l-5.69-5.69zM2.5 9.25a6.75 6.75 0 1111.74 4.547.746.746 0 00-.443.442A6.75 6.75 0 012.5 9.25z"
          ></path>
        </svg>
        <NuxtLink to="/blog/login" class="list-group-item">login</NuxtLink>
      </div>
      <div>
        <a href=""></a>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>

.list-group-item {
  color: black;
  border: 0;
  padding: 8px;
}
.list-group-item:hover {
  text-decoration: none;
  background: #888;
  color: #fff;
}
</style>
