<template>
<div>
  <div class="form-blog card">
    <ValidationObserver ref="form" v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(submitForm)" action="">
        <div class="form-group">
          <!-- {{blogEdit[0].title}} -->
          <label for="">Tiêu đề</label>
          <ValidationProvider rules="required" v-slot="{ errors }">
            <input
              v-model="blog.title"
              class="form-control"
              type="text"
              name="title"
            />
            <span class="text-danger">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div class="form-group">
          <label for="">Mô tả ngắn</label>
          <ValidationProvider rules="required" v-slot="{ errors }">
            <textarea rows="8"
              v-model="blog.des"
              class="form-control"
              type="text"
              name="des"
            />
            <span class="text-danger">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div class="form-group">
          <label for="">Chi tiết</label>
          <ValidationProvider rules="required" v-slot="{ errors }">
            <textarea rows="8"
              v-model="blog.detail"
              class="form-control"
              type="text"
              name="detail"
            ></textarea>
            <span class="text-danger">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div class="form-group">
          <label for="">Hình ảnh:</label>
          <input type="file" class="form-control-file" />
        </div>


        <div class="form-group">
          <label for="">loại</label>
          <select v-model="blog.category">
            <option v-for="cate in CATEGORIES" :key="cate.id" :value="cate.id">
              {{ cate.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Vị trí</label><br />
          <div v-for="(position, index) in POSITIONS" :key="index" class="form-check form-check-inline">
            <input
            class="form-check-input"
              :id="position.id"
              v-model="blog.position"
              type="checkbox"
              :value="position.id"
            /><label style="margin-bottom: 0.1rem;" :for="position.id">{{ position.name }}</label> 
          </div>
        </div>

        <div class="form-group">
          <label for="">Public</label><br />
          <div class="form-check-inline">
            <div class="mr-4">
              <input  class="form-check form-check-inline"
            v-model="blog.public"
            type="radio"
            name="public"
            :value="true"
          />
          <label for=""> Yes</label>
            </div>
             <div>
               <input class="form-check form-check-inline"
            v-model="blog.public"
            type="radio"
            name="public"
            :value="false"
          />
          <label for=""> No</label>
             </div>
          </div>
         
        </div>
        <!-- <div class="form-group">
          <label for="">Date Public</label>
          <ValidationProvider rules="required" v-slot="{ errors }">
            <input
              v-model="blog.data_pubblic"
              class="form-control form-check-input"
              type="date"
            />
            <span class="text-danger">{{ errors[0] }}</span>
          </ValidationProvider>
        </div> -->

         <div class="form-group">
          <div class="row">
            <div class="col-md-6 p-0 pr-3">
              <label for="">Loại:</label>
                <select v-model="blog.category" class="form-control">
              <option v-for="cate in CATEGORIES" :key="cate.id" :value="cate.id">
                {{ cate.name }}
              </option>
          </select>

            </div>
            <div class="col-md-6 p-0">
              <label for="">Date Pubblic:</label>

              <div class="form-date">
                <validation-provider
                  name="Date Pubblic"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <input
                    type="date"
                    class="form-control"
                    v-model="blog.data_pubblic"
                  />
                  <span style="color:red">{{ errors[0] }}</span>
                </validation-provider>
              </div>
            </div>
          </div>
         </div>

       
      </form>
    </ValidationObserver>
    
  </div>
  
  <div class="form-submit card">
        <div class="form-group text-center">
          <div class="mt-3">
            <button class="btn btn-success">Submit</button>
          <button class="btn btn-primary">Clear</button>
          </div>
         
        </div>
      </div>
  </div>
</template>


<script>
import { validate, ValidationProvider } from "vee-validate";
import { ValidationObserver } from "vee-validate";
import { CATEGORIES, POSITIONS, IPAPI } from "../../assets/js/constants";
export default {
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data: function () {
    return {
      blog: {
        position: [],
        category: 1,
      },
      errors: [],
    };
  },
  props: {
    idBlogEdit: {
      type: String,
      default: "",
    },
  },
  computed: {
    CATEGORIES() {
      return CATEGORIES;
    },

    POSITIONS() {
      return POSITIONS;
    },

    IPAPI() {
      return IPAPI;
    },
  },

  watch: {
    idBlogEdit() {
      this.findBlogById();
    },
  },
  methods: {
    findBlogById() {
      console.log(this.idBlogEdit);
      if (this.idBlogEdit) {
        this.$axios.$get(IPAPI + this.idBlogEdit).then((res) => {
          this.blog = res;
        });
      }
    },
    vaildateBlog() {
      let validate = false;
      this.$refs.form.validate().then((valid) => {
        console.log(valid);
        return valid;
      });
      console.log(validate);
      return validate;
    },
    async submitForm() {
      if (this.idBlogEdit !== "") {
        // Edit
        await this.$axios.$put(IPAPI + this.idBlogEdit, this.blog);
        this.$router.push("list");
        return;
      }

      // For add new
      this.posts = await this.$axios.$post(IPAPI, this.blog);
      this.$router.push("list");
    },
  },
  mounted() {
    this.findBlogById();
  },
};
</script>

<style scoped>
  .form-blog {
    background: #FFFF;
    margin: 0px;
    padding: 15px;
  }
  .form-submit {
    background-color: #F0F3F5;
  }
</style>
