<template>
  
     
    <nav class="navbar-light  card card-search">
      <div class="form-group d-flex align-items-center m-0">
        <span class="search-by-title">Title:</span>
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          v-model="keyword"
        />
      </div>
      <div class="form-group text-center m-0">
        <button
          class="btn btn-outline-success my-2"
          type="submit"
          @click="onSearch()"
        >
          Search
        </button>
      </div>
    </nav>
 
  
  
</template>


<script>
const ON_SEARCH = "onSearch";
export default {
  data() {
    return {
      keyword: "",
    };
  },
  methods: {
    onSearch(keyword) {
      this.$emit(ON_SEARCH, this.keyword);
    },
  },
};
</script>
 
<style scoped>
.card-search {
  padding: 18px;
}
  .search-by-title {
    margin-right: 25px;
  }
</style>
