<template>
  <div class="list-blog">
<<<<<<< HEAD
    
=======
>>>>>>> ed30ee6bde17e809f7139fe98885982cda854eef
    <span class="title d-flex card">listBlog</span>
    <div class="card">
      <table class="table table-list table-bordered text-center">
        <thead>
          <th>Id</th>
          <th>Tin</th>
          <th>Loại</th>
          <th>Trạng thái</th>
          <th>Vị trí</th>
          <th>Ngày</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>

        <tbody>
          <tr v-for="(blog, index) in listBlog" :key="index">
            <td>{{ blog.id }}</td>
            <td>{{ blog.title }}</td>
            <td>{{ getNamecatgory(blog.category) }}</td>
            <td v-if="blog.public">Yes</td>
            <td v-else>No</td>
            <td>{{ getNamePositions(blog.position) }}</td>
            <td>{{ blog.data_pubblic }}</td>
            <td>
              <nuxt-link :to="`/blog/${blog.id}`">
                <a class="btn btn-outline-primary">Edit</a></nuxt-link
              >
            </td>

            <td>
              <a @click="deleteBlog(blog.id)" class="btn btn-outline-danger"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { CATEGORIES, POSITIONS, IPAPI } from "../../assets/js/constants";
export default {
  data() {
    return {};
  },
  props: {
    listBlog: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  methods: {
    async deleteBlog(id) {
      if (confirm("Bạn có muốn xóa!")) {
        this.$axios.$delete(IPAPI + id);
        this.$emit("delete-success");
      }
    },

    getNamecatgory(id) {
      let cate = CATEGORIES.find((category) => {
        return category.id === id;
      });
      return cate && cate.name;
    },
    getNamePositions(arrIdPostion) {
      let listNamePosition = "";
      arrIdPostion.forEach((idPostion) => {
        listNamePosition;
        let resultFindPostion = POSITIONS.find((postion) => {
          return postion.id === idPostion;
        });
        if (resultFindPostion !== undefined)
          listNamePosition += resultFindPostion.name + ",";
      });
      return listNamePosition;
    },
    getNamePositions(arrIdPostion) {
      return POSITIONS.filter((blog) => arrIdPostion.includes(blog.id))
        .map((blog) => blog.name)
        .join(", ");
    },
  },
};
</script>
<style scoped>
.title {
  background-color: #F0F3F5;
  font-size: 34px;
  padding-left: 8px;
}
.table {
  min-height: 500px;
}
</style>
