<template>
  <div>
    <div class="header-edit">
      <span class="title" @click="test()">Edit Blogs</span>
    </div>
    <BlogFormCreateEdit :idBlogEdit="idBlog"></BlogFormCreateEdit>
  </div>
</template>

<script>
export default {
  data() {
    return {
      idBlog: '',
    };
  },
  mounted() {
    this.idBlog = this.$route.params.id;
  },
};
</script>

<style scoped>
.header-edit {
  
  background-color: #F0F3F5;
}
  .title {
  font-size: 34px;
  width: 100%;
}
</style>
