<template>
  <div class="list-blog">
    
    <BlogList
      v-on:delete-success="reloadPage"
      :listBlog="listBlog"
    ></BlogList>
  </div>
</template>

<script>
export default {
  data() {
    return {
      listBlog: [],
    };
  },
  async fetch() {
    this.listBlog = await fetch("http://localhost:3000/blogs").then((res) =>
      res.json()
    );
  },
  methods: {
    async reloadPage() {
      const dataReload = await this.$axios.$get("http://localhost:3000/blogs");
      this.listBlog = dataReload;
    },
  },
};
</script>
<style scoped>
.title {
  background-color: #F0F3F5;
  font-size: 34px;
}
  .list-blog {
    /* background:#E4E5E6;
    margin: 15px 15px 15px 15px; */
    /* margin-left: 50px; */
    /* width: 100%; */
  }
</style>