<template>
  <div>
    <h1>login</h1>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          v-model="user.email"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          v-model="user.password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <div class="m-2">
      <span class="text-danger" v-for="error in errors" :key="error.index">{{ error}}</span>
      </div>
    </form>
    <button class="btn btn-primary" @click="submitForm()">Submit</button>
    
  </div>
</template>

<script>
export default {
   auth: false,
  data() {
    return {
      user: {
        emamil: "",
        password: "",
      },
      errors:[],
      access_token: "",
    };
  },
  methods: {
    
    async submitForm() {
       
      //   this.$auth.setUser(this.user)
      //  console.log(this.$auth.user);
     
      // const respone = await this.$axios
      //   .$post("http://127.0.0.1:8000/api/login", this.user)
      //   .catch((error) => {
      //     if (this.$axios.isCancel(error)) {
      //       console.log("Request canceled", error);
      //     }
      //   });
      this.errors = [];
      try {
        
        let response = await this.$auth.login( { data: this.user })
        console.log(response)
           this.$router.push("list");
      } catch (err) {
        this.errors.push('Sai thông tin tài khoản mật khẩu')
        console.log(err)
      }

    },
  },

};
</script>
