<template>
  <div class="">
    <div class="header-new card">
       <span class="title">New Blogs</span>
    </div>
    <BlogFormCreateEdit :blogEdit="blog"></BlogFormCreateEdit>
  </div>
</template>

 <script>
export default {
  data() {
    return {
      blog: {},
    };
  },
};
</script>
<style scoped>
  .header-new {
     background-color: #F0F3F5;
  }
   .title {
 
  font-size: 34px;
  padding-left: 8px;
}
</style>