<template>
  <div class="">
    <div class="header-serach card">
       <span class="title">Search blog</span>
    </div>
    <BlogFormSearch v-on:onSearch="onSearch" class="mb-3"></BlogFormSearch>
    <BlogList v-bind:listBlog="resultSearch"></BlogList>
  </div>
</template>

 <script>
export default {
  data() {
    return {
      keyword: "",
      resultSearch: [],
    };
  },
  methods: {
    onSearch(keyword) {
      this.keyword = keyword;
      this.doSearch();
    },
    async doSearch() {
      const resultSearch = await this.$axios.$get(
        "http://localhost:3000/blogs?title_like=" + this.keyword
      );
      this.resultSearch = resultSearch;
    },
  },
};
 </script>

<style scoped>
  .header-serach {
     background-color: #F0F3F5;
  }
  .title {
 
  font-size: 34px;
  padding-left: 8px;
}
</style>
